<div fxLayout="column" [formGroup]="form">
  <h2>Please select:</h2>
  <mat-radio-group aria-label="Select an option" formControlName="injectionType" fxLayout="column" fxLayoutGap="10px">
    <mat-radio-button [value]="0">Wii Retail Injection</mat-radio-button>
    <mat-radio-button [value]="1">Wii Homebrew Injection</mat-radio-button>
    <mat-radio-button [value]="2">GC Retail Injection</mat-radio-button>
    <mat-radio-button [value]="3">vWii NAND Title Launcher</mat-radio-button>
  </mat-radio-group>
</div>
